@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 62px;
  height: 37px;
  background: #fff;
  border: 3px solid #c74343;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle_label:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #7c2b2b;
  transition: 0.4s;
}

.toggle_input:checked + .toggle_label {

  border: 3px solid #4BD865;
}

.toggle_input:checked + .toggle_label:after {
  left: 27px;
  background: #4BD865;
}

.toggle_button {
  position: relative;
  width: 62px;
  height: 37px;
  margin: auto;
}
